.viewNavigator {
    display: flex;
    align-items: flex-end; /* center → flex-end */
    justify-content: space-between; /* 좌우 끝 정렬 */
    gap: 10px;
    padding: 10px;
    background-color: var(--color-background);
    border-radius: 5px;
}

.left {
    display: flex;
    align-items: flex-end;
}

.name {
    margin-left: 35px;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-right: 0px;
    line-height: 1;
}

.text {
    font-size: 14px;
    color: #000000;
    line-height: 1.1;
    margin-left: 0px;
}

.viewRadio {
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: center; /* 전체 흐름에서는 중앙 정렬 */
    margin-right: 30px;
}

.viewRadio,
.viewRadio label {
    font-size: 14px;
}

.viewRadio label {
    margin-left: 8px; /* 원하는 만큼 조절 */
}

.viewRadio [type="radio"] {
    position: relative;
    margin-right: 7px;
    vertical-align: middle;
    appearance: none;
    border: 1px solid #3398ff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    transition: border 0.5s ease-in-out;
}

.viewRadio [type="radio"]:checked {
    background-color: #e6f3ff;
    border: 1px solid #3398ff;
}

.viewRadio [type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    background-color: #3398ff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
