/* 전체 페이지 스타일 */
.loginWrapper {
    min-height: 100vh;
    background: #f7f8fc;
    display: flex;
    flex-direction: column;
}

/* 헤더가 따로 들어가니까 공간 분리 */
.header {
    flex-shrink: 0;
}

/* 로그인 박스 정렬 */
.loginBox {
    background: #fff;
    padding: 48px;
    padding-top: 60px;
    border-radius: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 831px;
    height: 480px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px; /* 헤더 아래 여백 */
}

/* 텍스트 */
.logoText {
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 4px;
    font-family: "Pretendard", sans-serif;
}
.loginTitle {
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 50px;
    font-family: "Pretendard", sans-serif;
}

/* 폼 */
.loginForm .inputGroup {
    margin-bottom: 20px;
    text-align: left;
}
.loginForm label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}
.loginForm input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}
.checkboxGroup {
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 2px;
}

/* 버튼 */
.loginButton {
    width: 100%;
    background: linear-gradient(90deg, #3d5afe, #00bcd4);
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 12px;
}

.signupButton {
    display: block;
    width: 570px;
    padding: 14px 0;
    border-radius: 12px;
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 10px;
}

/* 하단 링크 */
.loginBottom {
    display: flex;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    color: #666;
    margin-top: 8px;
}
.divider {
    color: #aaa;
}

/* 에러 메시지 */
.errorMessage {
    color: red;
    font-size: 14px;
    margin-bottom: 16px;
}
