.headerWrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: "Pretendard", sans-serif;
}

.formWrapper {
    background-color: #fff;
    padding: 32px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
}

/* 제목 */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.input {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

.textarea {
    font-family: "Pretendard", sans-serif;
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    width: 100%;
    min-height: 200px;
}

.submitButton {
    align-self: flex-end;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 8px;
}

input::placeholder,
textarea::placeholder {
    color: #ccc;
}
