.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem 2rem 2rem;
}

.headerRow {
    display: flex;
    justify-content: left;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
}

.cardList {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: stretch;
    min-height: 200px;
    padding-bottom: 40px;
}

.empty {
    color: #888;
    font-size: 16px;
    margin-top: 20px;
}

.navLink {
    margin: 0 20px;
    padding-bottom: 5px;
    color: #333;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
