.container {
    max-width: 1280px; /* 데스크탑 기준 넓이 제한 */
    min-height: 100vh; /* 최소 화면 높이 (viewport) */
    margin: 0 auto; /* 가운데 정렬 */
    box-sizing: border-box;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 최소 높이: 화면 높이 */
    /* 내부 내용물 높이에 따라 자동으로 늘어남 */
    width: 980px;
    padding: 0px;
    margin: 0 150px;
    /* border: 2px solid #ccc; */
}
